@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik:wght@300;400;500;600&display=swap');

@font-face {
    font-family:"Harry";
    src: url("Fonts/HARRYP__.TTF") format("truetype"),
    url("Fonts/harryp__-webfont.woff") format("woff");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

body {
    background: #44318D;
    min-height:100vh;
    overflow-x: hidden;

}

header {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding:30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 2em;
    color: #d83f87;
    pointer-events: none;
}
.navigation a{
    text-decoration: none;
    color: #d83f87;
    padding:6px 15px;
    border-radius: 20px;
    margin:0 10px;
    font-weight: 600;
}

.navigation a:hover, .navigation a.active{
    background: #d83f87;
    color: #2a1b3d;
}
.anim {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h {    position: absolute;
    font-size: 7em;
    color:#ffffff;
    font-weight: 100;
    text-align: center;
    font-family:'Harry',sans-serif;
    line-height: 90px;
    text-shadow: 2px 2px 6px rgba(0,0,0,.3);

}

.anim img {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    pointer-events: none;
    object-position: center -200px;
}

.sec{
    position: absolute;
    top:870px;
    background-color:#2a1b3d;
    padding:100px;
    

}

.sec h2{
    font-size:3em;
    color:#d83f87;
    margin-bottom:10px;
}

.sec p{
    color:white;
    margin-bottom:10px;
}
.sec2{
    position: absolute;
    top:865px;
    background-color:#d83f87;
    padding:100px;
width:1480px;
}