public/css/Assets/**/*.gltf filter=lfs diff=lfs merge=lfs -text
public/css/Assets/**/*.mtl filter=lfs diff=lfs merge=lfs -text
public/css/Assets/**/*.assbin filter=lfs diff=lfs merge=lfs -text
public/css/Assets/**/*.obj filter=lfs diff=lfs merge=lfs -text
public/css/Assets/**/*.png filter=lfs diff=lfs merge=lfs -text
