<header>
    <h2 class="logo">Quidditch Championship</h2>
    <nav class="navigation">
        <a href="index" class="active">Home</a>
        <a href="matches">Matches</a>
        <a href="standings">Standings</a>
        <a href="tickets">Tickets</a>
        <a href="news">News</a>
        <a href="about">About</a>
    </nav>
</header>
<link rel="stylesheet" href="/backend/public/css/style.css">