<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who are we?</title>
    <link rel="stylesheet" href="css/aboutusstyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #255957;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #66fcf1;
            border-radius: 7px;
            border-width: 1.3px;
            border-color: #45a29e;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #dfbe4c;
        }
    </style>
</head>

<body>
    <header id="header">
        <h2 href="#" class="logo">Golden Snitch Pro League</h2>
        <div class="toggle"><box-icon name='menu' animation='fade-right' color='#dfbe4c'></box-icon></div>
        <div class="navigation">
            <li><a href="index">Home</a></li>
            <li><a href="clashes">Clashes</a></li>
            <li><a href="standings">Standings</a></li>
            <li><a href="tickets">Tickets</a></li>
            <li><a href="news">News</a></li>
            <li><a href="about" class="active">About</a></li>
        </div>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi, I'm <span> Kalash</span></h1>
            <div class="text-animate">
                <h3>Backend Developer</h3>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, molestias totam? Quam impedit ex animi
                dolore qui hic iste molestias, odit atque suscipit enim! Quas, nemo accusantium!
            </p>
            <div class="btn-box">
                <a href="#" class="btn">Hire me</a>
                <a href="#" class="btn">Lets talk</a>
            </div>
        </div>
        <div class="home-sci">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>
    </section>
    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi, I'm <span> Meet</span></h1>
            <div class="text-animate">
                <h3>FrontEnd Developer</h3>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, molestias totam? Quam impedit ex animi
                dolore qui hic iste molestias, odit atque suscipit enim! Quas, nemo accusantium!
            </p>
            <div class="btn-box">
                <a href="#" class="btn">Hire me</a>
                <a href="#" class="btn">Lets talk</a>
            </div>
        </div>
        <div class="home-sci">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>
    </section>


    <script>"css/aboutus.js"</script>
</body>

</html>