<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who are we?</title>
    <link rel="stylesheet" href="css/aboutstyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #255957;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #66fcf1;
            border-radius: 7px;
            border-width: 1.3px;
            border-color: #45a29e;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #dfbe4c;
        }
    </style>
</head>

<body>
        <header id="header">
            <h2 href="#" class="logo">Golden Snitch Pro League</h2>
            <div class="toggle"><box-icon name='menu' animation='fade-right' color='#dfbe4c'></box-icon></div>
            <div class="navigation">
                <li><a href="index">Home</a></li>
                <li><a href="clashes">Clashes</a></li>
                <li><a href="standings" >Standings</a></li>
                <li><a href="tickets">Tickets</a></li>
                <li><a href="news">News</a></li>
                <li><a href="about" class="active">About</a></li>
            </div>
        </header>


    <section class="photo">
        <img src="css/News - Images/image1.webp" alt="Quidditch" class="news__main-cover news__main-cover--desktop" />
    </section>

    <section class="about-us" id="am">
        <div class="aboutus-content">
            <h3>Who are we?</h3>
            <h1>Meet Suthar and kalash Shah</h1>
            <h3>And I'm a <span>graphic designer</span></h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla eligendi natus quia assumenda saepe iure
                commodi voluptatum eum cumque modi? Omnis maxime pariatur ipsum eum quaerat aut ratione magni labore hic
                officia doloribus, dolor porro repellendus.</p>

            <div class="social-media">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>

            <a href="#" class="btn">Contact us</a>
        </div>

    </section>

    <section class="about-us-k" id="amk">
        <div class="photo-k">
            <img src="css/Assets/persondummy2.jfif" alt="Quidditch"
                class="news__main-cover news__main-cover--desktop" />
        </div>
        <div class="aboutus-content-k">
            <h3>Who am I?</h3>
            <h1>Kalash Shah</h1>
            <h3>And I'm a <span>technology student</span></h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla eligendi natus quia assumenda saepe iure
                commodi voluptatum eum cumque modi? Omnis maxime pariatur ipsum eum quaerat aut ratione magni labore hic
                officia doloribus, dolor porro repellendus.</p>

            <div class="social-media">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>

            <a href="#" class="btn">Contact us</a>
        </div>

    </section>
    <!-- <section class="about">
        <div class="main">
            <img src="News - Images/image1.webp">
            <div class="about-text">
                <h1>about us</h1>
                <h5>Lorem, ipsum dolor.</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, distinctio natus rerum quaerat atque commodi recusandae, voluptates officia nam reprehenderit aliquam rem, nihil id in dolorum iste reiciendis quidem quis molestias dolores! Quam impedit esse, quos consequatur cum rerum, aliquam laudantium, neque quae nihil animi similique. Sunt odio quod aut.</p>

                <button type="button">Let's talk</button>

            </div>
        </div>
    </section> -->
    <!-- <section id="about-section">
    
            <div class="about-left">
                <img src="News - Images/image1.webp" alt="About Img"/>
            </div>

            
            <div class="about-right">
                <h4>My Story</h4>
                <h1>About Me</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis fugiat a dolorem at similique maxime dolorum dolore
                    enim dicta voluptatibus, illum recusandae, vel optio tempore
                    ipsum incidunt eum. Aspernatur, repellendus.
                </p>
                <div class="address">
                    <ul>
                        <li>
                            <span class="address-logo">
                                <i class="fas fa-paper-plane"></i>
                            </span>
                            <p>Address</p>
                            <span class="saprater">:</span>
                            <p>Jaipur, Rajasthan, India</p>
                        </li>
                        <li>
                            <span class="address-logo">
                                <i class="fas fa-phone-alt"></i>
                            </span>
                            <p>Phone No</p>
                            <span class="saprater">:</span>
                            <p>+91 987-654-4321</p>
                        </li>
                        <li>
                            <span class="address-logo">
                                <i class="far fa-envelope"></i>
                            </span>
                            <p>Email ID</p>
                            <span class="saprater">:</span>
                            <p>crowncoder@gmail.com</p>
                        </li>
                    </ul>
                </div>
                <div class="expertise">
                    <h3>My Expertise</h3>
                    <ul>
                        <li>
                            <span class="expertise-logo">
                                <i class="fab fa-html5"></i>
                            </span>
                            <p>HTML</p>
                        </li>
                        <li>
                            <span class="expertise-logo">
                                <i class="fab fa-css3-alt"></i>
                            </span>
                            <p>CSS</p>
                        </li>
                        <li>
                            <span class="expertise-logo">
                                <i class="fab fa-node-js"></i>
                            </span>
                            <p>Java Script</p>
                        </li>
                        <li>
                            <span class="expertise-logo">
                                <i class="fab fa-react"></i>
                            </span>
                            <p>React Js</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section> -->


</body>

</html>