<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" content="Matches of Quidditch sport!">
    <title>GSPL 2021</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #255957;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #66fcf1;
            border-radius: 7px;
            border-width: 1.3px;
            border-color: #45a29e;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #dfbe4c;
        }
    </style>

    <audio id="music" src="css/music/cl21.mp3" loop></audio>
    <script>
        const music = document.getElementById("music");
        let isMusicPlaying = false;

        function playMusicWithFade() {
            if (!isMusicPlaying) {
                music.volume = 0;
                music.play();
                fadeInMusic();
                isMusicPlaying = true;
            }
        }

        function fadeInMusic() {
            const fadeInterval = setInterval(function () {
                if (music.volume < 1) {
                    music.volume += 0.05;
                } else {
                    clearInterval(fadeInterval);
                }
            }, 200);
        }

        function stopMusicWithFade() {
            if (isMusicPlaying) {
                fadeOutMusic();
                isMusicPlaying = false;
            }
        }

        function fadeOutMusic() {
            const fadeInterval = setInterval(function () {
                if (music.volume > 0) {
                    music.volume -= 0.05;
                } else {
                    music.pause();
                    clearInterval(fadeInterval);
                }
            }, 200);
        }
    </script>

</head>

<body>
    <script>
        // Play music when the page loads
        window.addEventListener("load", playMusicWithFade);

        // Stop music with fade effect when leaving the page
        window.addEventListener("beforeunload", stopMusicWithFade);
    </script>

    <header>
        <h2 class="logo">Golden Snitch Pro League</h2>
        <nav class="navigation">
            <a href="index">Home</a>
            <a href="clashes" class="active">Clashes</a>
            <a href="standings">Standings</a>
            <a href="tickets">Tickets</a>
            <a href="news">News</a>
            <a href="about">About</a>
        </nav>
    </header>
    <link rel="stylesheet" href="css/clashesstyle.css">
    <link rel="stylesheet" href="css/clashesstyle21.css">



    <section class="season" id="season">
        <div class="years">
            <button onclick="redirectToPage('clashes21')" class="active">2021</button>
            <button onclick="redirectToPage('clashes22')">2022</button>
            <button onclick="redirectToPage('clashes')">2023</button>

        </div>

        <script>function redirectToPage(url) {
                window.location.href = url;
            }
        </script>

        <script href="cursor.js"></script>

        <hr color="#45a29e">


    </section>

    <section class="teams" id="teams">
        <h1 class="heading" data-aos="fade-up" data-aos-easing="ease-in-out">Teams of GSPL 2021</h1>

        <div class="teams-container" data-aos="fade-up" data-aos-easing="ease-in-out">
            <div class="teams-box">
                <img src="css/Assets/2021/GFD.jpg">
                <div class="teams-layer">
                    <h4>Gryffindor Developers</h4>
                    <p>GFD</p>
                </div>
            </div>

            <div class="teams-box">
                <img src="css/Assets/2021/RCC.jpg">
                <div class="teams-layer">
                    <h4>Rampage Cyber Crusaders</h4>
                    <p>RCC</p>
                </div>
            </div>

            <div class="teams-box">
                <img src="css/Assets/2021/CMT.jpg">
                <div class="teams-layer">
                    <h4>Cyber Mahatmas</h4>
                    <p>CMT</p>
                </div>
            </div>

            <div class="teams-box">
                <img src="css/Assets/2021/KNU.jpg">
                <div class="teams-layer">
                    <h4>Knights United</h4>
                    <p>KNU</p>
                </div>
            </div>

            <div class="teams-box">
                <img src="css/Assets/2021/TCT.jpg">
                <div class="teams-layer">
                    <h4>Techstars Titans</h4>
                    <p>TCT</p>
                </div>
            </div>

            <div class="teams-box">
                <img src="css/Assets/2022/RAR.jpg">
                <div class="teams-layer">
                    <h4>Rajkot Royals</h4>
                    <p>RAR</p>
                </div>
            </div>
        </div>
    </section>


    <section class="clashes" aria-labelledby="clashes-label" id="clash">
        <div class="container">

            <h2 class="h2 section-title" data-aos="fade-up" data-aos-easing="ease-in-out">Playoff Matches of GSPL 2021
            </h2>

            <!-- <p class="section-subtitle" id="clashes-label" data-reveal="bottom">
                        Clashes : Unleashing Magical Rivalries
                    </p> -->

            <ol class="clash-list">

                <li class="clash-item" data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in-out">
                    <div class="clashes-card left has-before" data-reveal="left">

                        <img src="css/Assets/2021/CMT.png" alt="Cyber Mahatmas" WIDTH="86" class="card-banner">

                        <h3 class="h3 card-title">Cyber Mahatmas</h3>

                        <div class="card-meta-goal">105</div>
                    </div>

                    <div class="clashes-time" data-reveal="bottom">
                        <div class="card-meta"><a href="21sf1.html" class="match-report-link">Semi-Final 1</a></div>

                        <time class="time" datetime="10:00">10:00</time>
                        <time class="date" datetime="2021-08-05">5th August, 2021</time>
                    </div>

                    <div class="clashes-card right has-before" data-reveal="right">

                        <img src="css/Assets/2021/GFD.png" alt="Gryffindor Developers" WIDTH="86" class="card-banner">

                        <h3 class="h3 card-title">Gryffindor Developers</h3>
                        <div class="card-meta-goal-win">125</div>

                    </div>
                </li>

                <li class="clash-item" data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in-out">
                    <div class="clashes-card left has-before" data-reveal="left">

                        <img src="css/Assets/2021/RCC.png" alt="Rampage Cyber Crusaders" WIDTH="86" class="card-banner">

                        <h3 class="h3 card-title">Rampage Cyber Crusaders</h3>

                        <div class="card-meta-goal-win">140</div>
                    </div>

                    <div class="clashes-time" data-reveal="bottom">
                        <div class="card-meta"><a href="21sf2.html" class="match-report-link">Semi-Final II</a></div>

                        <time class="time" datetime="10:00">10:00</time>
                        <time class="date" datetime="2021-08-05">7th August, 2021</time>


                    </div>

                    <div class="clashes-card right has-before" data-reveal="right">

                        <img src="css/Assets/2021/TCT.png" alt="Techstars Titans" WIDTH="86" class="card-banner">

                        <h3 class="h3 card-title">Techstars Titans</h3>

                        <div class="card-meta-goal">95</div>
                    </div>
                </li>

                <li class="clash-item" data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in-out">
                    <div class="clashes-card left has-before" data-reveal="left">

                        <img src="css/Assets/2021/GFD.png" alt="Gryffindor Developers" WIDTH="86" class="card-banner">

                        <h3 class="h3 card-title">Gryffindor Developers</h3>

                        <div class="card-meta-goal-win">120</div>
                    </div>

                    <div class="clashes-time" data-reveal="bottom">
                        <div class="card-meta"><a href="21f.html" class="match-report-link">Grand Finale</a></div>

                        <time class="time" datetime="10:00">10:00</time>
                        <time class="date" datetime="2021-08-05">9th August, 2021</time>


                    </div>

                    <div class="clashes-card right has-before" data-reveal="right">

                        <img src="css/Assets/2021/RCC.png" alt="Rampage Cyber Crusaders" WIDTH="86" class="card-banner">

                        <h3 class="h3 card-title">Rampage Cyber Crusaders</h3>

                        <div class="card-meta-goal">110</div>
                    </div>
                </li>
            </ol>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>

        AOS.init();
    </script>

    <footer data-aos="fade-up" data-aos-easing="ease-in-out">
        <div class="footer-content">
            <h3>Golden Snitch Pro League</h3>
            <p>Enter GSPL, where Quidditch magic thrives! Soar on broomsticks, witness captivating matches, and embrace
                the enchantment. Your wizarding journey starts here – join for Quidditch greatness!</p>

        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">GSPL - by Meet Suthar & kalash Shah</a> </p>
            <div class="footer-menu">
                <ul class="f-menu">
                    <li><a href="index">Home</a></li>
                    <li><a href="tickets">Tickets</a></li>
                    <li><a href="about">About</a></li>
                </ul>
            </div>
        </div>

    </footer>

</body>

</html>