<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Snitch Pro League</title>

    <link rel="stylesheet" href="css/style.css">


    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #255957;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #66fcf1;
            border-radius: 7px;
            border-width: 1.3px;
            border-color: #45a29e;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #dfbe4c;
        }
    </style>
</head>

<body>
    <!-- {{>navbar}} -->

    <header>
        <h2 class="logo">Golden Snitch Pro League</h2>
        <nav class="navigation">
            <a href="index.html" class="active">Home</a>
            <a href="clashes.html">Clashes</a>
            <a href="standings.html">Standings</a>
            <a href="tickets.html">Tickets</a>
            <a href="news">News</a>
            <a href="about.html">About</a>
        </nav>
    </header>
    <link rel="stylesheet" href="css/style.css">


    <!-- --------------------------------------------------------------------------------- -->


    <section class="anim">
        <img src="css/Assets/Homepage - PNGs/castles.png" id="castle2">
        <img src="css/Assets/Homepage - PNGs/stars" id="stars">
        <img src="css/Assets/Homepage - PNGs/castle.png" id="castle1">
        <img src="css/Assets/Homepage - PNGs/rings.png" id="rings">
        <h class="Text">Welcome to the magical<br>world of Quidditch sport!</h>

    </section>

    <section class="sec">
        <h2>Welcome to the Golden Snitch Pro League - GSPL!</h2>
        <p>Step into the enchanting world of Quidditch with GSPL, the premier professional Quidditch championship for
            magical students. Join teams from across the wizarding realm as they compete in thrilling matches, soaring
            on broomsticks to seize the elusive <b>Golden Snitch</b>. Experience the magic, camaraderie, and wizarding
            wonder of GSPL!
        </p>

    </section>

    <section class="sec2">
        <h2>What is the golden snitch?</h2>
        <p>
            In the captivating realm of Quidditch, the Golden Snitch is a small, golden, winged ball that flits
            tirelessly across the pitch during matches. The ultimate prize, capturing the Snitch awards the seeker's
            team an impressive 150 points and brings the game to an exhilarating end. The seeker's skill and speed are
            put to the test as they seek this elusive treasure in the sky. Will you be the one to seize the Golden
            Snitch and lead your team to triumph in GSPL?</p>
        <div class="snitch">
            <img src="css/Assets/Homepage - PNGs/snitch.png" alt="The Golden Snitch" class="image">
            <div class="overlay">
                <div class="t">Get Ready to <br>Conquer this Snitch!</div>
            </div>
    </section>

    <section class="sec3">
        <h2>How to Play?</h2>
        <p>
        <section class="signup">
            <div class="wrap">
                <button class="button" onclick="window.location.href='teamreg_step1';">Register Your Team for
                    Quidditch Glory!</button>
            </div>
        </section>

        <div class="col-xxl-12 wru">
            <h1 class="what-r-u-text py-5 w-100 wrul-align">What Are You Looking For?</h1>
            <div class="what-r-u-btns">
                <div>
                    <a onclick="click_cta(this)" data-event_context="What are you looking for?"
                        data-element_text="Fixtures &amp; Results" href="https://www.iplt20.com/matches/results"><i></i>
                        Fixtures &amp; Results</a>
                    <span></span>
                </div>
                <div>
                    <a onclick="click_cta(this)" data-event_context="What are you looking for?"
                        data-element_text="Points Table" href="https://www.iplt20.com/points-table/2023"><i></i> Points
                        Table</a>
                    <span></span>
                </div>
                <div>
                    <a onclick="click_cta(this)" data-event_context="What are you looking for?"
                        data-element_text="Overall Stats" href="https://www.iplt20.com/stats/2023"><i></i> Overall
                        Stats</a>
                    <span></span>
                </div>
                <div>
                    <a onclick="click_cta(this)" data-event_context="What are you looking for?"
                        data-element_text="All Teams" href="https://www.iplt20.com/teams"><i></i> All Teams</a>
                    <span></span>
                </div>
            </div>
        </div>

        <script src="../../public/css/animation.js"></script>
</body>

<footer class="footer">
    <div class="footer__addr">
        <h1 class="footer__logo">Something</h1>

        <h2>Contact</h2>

        <address>
            5534 Somewhere In. The World 22193-10212<br>

            <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
        </address>
    </div>

    <ul class="footer__nav">
        <li class="nav__item">
            <h2 class="nav__title">Media</h2>

            <ul class="nav__ul">
                <li>
                    <a href="#">Online</a>
                </li>

                <li>
                    <a href="#">Print</a>
                </li>

                <li>
                    <a href="#">Alternative Ads</a>
                </li>
            </ul>
        </li>

        <li class="nav__item nav__item--extra">
            <h2 class="nav__title">Technology</h2>

            <ul class="nav__ul nav__ul--extra">
                <li>
                    <a href="#">Hardware Design</a>
                </li>

                <li>
                    <a href="#">Software Design</a>
                </li>

                <li>
                    <a href="#">Digital Signage</a>
                </li>

                <li>
                    <a href="#">Automation</a>
                </li>

                <li>
                    <a href="#">Artificial Intelligence</a>
                </li>

                <li>
                    <a href="#">IoT</a>
                </li>
            </ul>
        </li>

        <li class="nav__item">
            <h2 class="nav__title">Legal</h2>

            <ul class="nav__ul">
                <li>
                    <a href="#">Privacy Policy</a>
                </li>

                <li>
                    <a href="#">Terms of Use</a>
                </li>

                <li>
                    <a href="#">Sitemap</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="legal">
        <p>&copy; 2019 Something. All rights reserved.</p>

        <div class="legal__links">
            <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
        </div>
    </div>
</footer>

</html>