<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches of Quidditch</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header id="header">
        <h2 href="#" class="logo">Golden Snitch Pro League</h2>
        <div class="toggle"><box-icon name='menu' animation='fade-right' color='#dfbe4c'></box-icon></div>
        <div class="navigation">
            <li><a href="index" class="active">Home</a></li>
            <li><a href="clashes">Clashes</a></li>
            <li><a href="standings">Standings</a></li>
            <li><a href="tickets">Tickets</a></li>
            <li><a href="news">News</a></li>
            <li><a href="about">About</a></li>
        </div>
    </header>



</body>

</html>