<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches of Quidditch</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h2 class="logo">Quidditch Championship</h2>
    <nav class="navigation">
        <a href="index.html">Home</a>
        <a href="matches.html" class="active">Matches</a>
        <a href="standings.html">Standings</a>
        <a href="tickets.html">Tickets</a>
        <a href="news.html">News</a>
        <a href="about.html">About</a>
    </nav>
</header>


</body>
</html>