<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Snitch Pro League</title>
    <link rel="stylesheet" href="css/style.css">

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #255957;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #66fcf1;
            border-radius: 7px;
            border-width: 1.3px;
            border-color: #45a29e;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #dfbe4c;
        }
    </style>
</head>

<body>
    <header id="header">
        <h2 href="#" class="logo">Golden Snitch Pro League</h2>
        <div class="toggle"><box-icon name='menu' animation='fade-right' color='#dfbe4c'></box-icon></div>
        <div class="navigation">
            <li><a href="index">Home</a></li>
            <li><a href="clashes">Clashes</a></li>
            <li><a href="standings">Standings</a></li>
            <li><a href="tickets">Tickets</a></li>
            <li><a href="news" class="active">News</a></li>
            <li><a href="about">About</a></li>
        </div>
    </header>

    <link rel="stylesheet" href="css/newsar_style.css">
    <!-- --------------------------------------------------------------------------------- -->


    <main>
        <section class="panel">
            <section class="news">
                <div class="container">
                    <div class="news__inner">
                        <article class="news__main">

                            <div class="news__main-content">

                                <h1 class="news__main-title">A Look Back at Historic GSPL '22 Moments</h1>

                                <div class="news__main-info">
                                    <p class="news__main-subtitle">

                                        <p1>In a magical journey through time, "The Golden Snitch Chronicles" takes GSPL
                                            fans on a nostalgic tour of GSPL 2022's historic moments. From
                                            heart-stopping Snitch catches to spellbinding team triumphs, this enchanting
                                            retrospective celebrates the wizarding feats that have shaped the legacy of
                                            Quidditch greatness. Relive the magic and be captivated once more!</p1>
                                        <hr>

                                        <p2>
                                            <br><br>
                                            <p3><b><i>By </i>Rita Skimworth</b></p3><br><br>
                                            Greetings, dear Quidditch enthusiasts and seekers of enchantment! Today, we
                                            embark on a whimsical journey through time to relive the most memorable
                                            moments from the Golden Snitch Pro League's enthralling 22nd season. Get
                                            ready to be bewitched as we delve into the heart of these extraordinary
                                            occurrences that left us gasping and grinning!<br><br>

                                            <p3><i>1. The Snitch's Elusive Tango:</i></p3><br><br>

                                            Ah, the allure of the Golden Snitch! Teams chased it with fervor, leading to
                                            an enchanting dance of speed and strategy. Seekers from every corner of the
                                            wizarding world showcased their magical prowess in captivating pursuit, but
                                            it was Gryffindor's legendary seeker, Orion "Flashwing" Woodsworth, who
                                            emerged victorious with a snitch caught in under five seconds!<br><br><br>

                                            <img src="css/News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>2. The Quaffle's Feathered Fiasco:</i></p3><br><br>

                                            In an amusing moment that tickled our broomstick funny bone, a cheeky spell
                                            went awry, causing the Quaffle to transform into a rambunctious
                                            Quaffle-Quail hybrid. Chasers from both teams couldn't help but chuckle as
                                            they tried to score amidst the quacking chaos! Eventually, Gryffindor's
                                            Marigold "Quackling" Finnigan embraced the avian ball, scoring a
                                            Quaffle-Quail goal that will be talked about for ages.<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>3. Bludger Ballet of the Brave:</i></p3><br><br>

                                            Picture this: Beaters from the Basilisks and the Phoenixes engaging in an
                                            unexpected duet amidst the chaos of Bludgers. With a series of synchronized
                                            swings, the Bludgers performed an aerial ballet that amazed fans and players
                                            alike. The audience roared with delight, awarding the teams a standing
                                            ovation for their impeccable timing!<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>4. The Flying Pumpkingate:</i></p3><br><br>

                                            A curious incident left the pitch adorned with pumpkins mid-match! A
                                            bewitched batch of them soared through the skies, weaving among the
                                            broomsticks. The talented players adapted to this impromptu obstacle course,
                                            transforming the pumpkingate into a magical show of skill and creativity.
                                            Hats off to the Nimbus-navigating team captains who turned this challenge
                                            into an unforgettable spectacle!<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>5. The Unyielding Keeper:</i></p3><br><br>

                                            A daring save by the Phoenixes' Keeper, Seraphina "Stoneheart" Greengrass,
                                            earned her the moniker "The Wall of Wizardry." Despite Bludger bombardments
                                            and a fleet of relentless Chasers, Greengrass refused to let the Quaffle
                                            pass. Her unwavering defense led the Phoenixes to a nail-biting victory by a
                                            single point, securing her place in Quidditch lore.<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>6. The Mascot Mischief:</i></p3><br><br>

                                            During a break, mascots of various magical creatures delighted the crowd
                                            with a whimsical performance. The Nifflers made a daring attempt to snatch
                                            the Snitch, while Puffskeins playfully cuddled with Chasers. Meanwhile, a
                                            troupe of mischievous Cornish Pixies teased Beaters, leading to uproarious
                                            laughter from fans and players alike.<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>7. Professor McGonagall's Quidditch Lesson:</i></p3><br><br>

                                            A surprise visit from none other than Hogwarts' beloved Transfiguration
                                            professor, Minerva McGonagall, elevated the excitement. Professor McGonagall
                                            took to the pitch, demonstrating her Quidditch prowess and revealing her
                                            early days as a formidable Chaser for the Gryffindor team. Her captivating
                                            performance inspired young witches and wizards, leaving a magical impact on
                                            the league's future stars.<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <i>That concludes our enchanting trip through GSPL 22's most unforgettable
                                                moments! Join us next season for more magical Quidditch tales, as the
                                                wizarding world unites once again to celebrate the timeless sport that
                                                unites us all. Until then, keep your broomsticks polished and your wands
                                                at the ready - for in the realm of Quidditch, extraordinary adventures
                                                await!</i><br><br><br>


                                        </p2>


                                    </p>
                                    <a href="#" class="read-more">Back</a>
                                    <!-- <img src="assets/images/image-web-3-desktop.jpg" alt="Web3 future"
                  class="news__main-cover news__main-cover--desktop" /> -->
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </section>

    </main>

</body>

</html>