<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Snitch Pro League</title>
    <link rel="stylesheet" href="css/style.css">

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #255957;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #66fcf1;
            border-radius: 7px;
            border-width: 1.3px;
            border-color: #45a29e;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #dfbe4c;
        }
    </style>
</head>

<body>
    <header id="header">
        <h2 href="#" class="logo">Golden Snitch Pro League</h2>
        <div class="toggle"><box-icon name='menu' animation='fade-right' color='#dfbe4c'></box-icon></div>
        <div class="navigation">
            <li><a href="index">Home</a></li>
            <li><a href="clashes">Clashes</a></li>
            <li><a href="standings">Standings</a></li>
            <li><a href="tickets">Tickets</a></li>
            <li><a href="news" class="active">News</a></li>
            <li><a href="about">About</a></li>
        </div>
    </header>


    <link rel="stylesheet" href="css/newsar_style.css">
    <!-- --------------------------------------------------------------------------------- -->


    <main>
        <section class="panel">
            <section class="news">
                <div class="container">
                    <div class="news__inner">
                        <article class="news__main">

                            <div class="news__main-content">

                                <h1 class="news__main-title">A Look Back at Historic GSPL '22 Moments</h1>

                                <div class="news__main-info">
                                    <p class="news__main-subtitle">

                                        <p1>In a magical journey through time, "The Golden Snitch Chronicles" takes GSPL
                                            fans on a nostalgic tour of GSPL 2022's historic moments. From
                                            heart-stopping Snitch catches to spellbinding team triumphs, this enchanting
                                            retrospective celebrates the wizarding feats that have shaped the legacy of
                                            Quidditch greatness. Relive the magic and be captivated once more!</p1>
                                        <hr>

                                        <p2>
                                            <br><br>
                                            <p3><b><i>By Venkatesh Prasad, Magical Sports Correspondent</i></b></p3>
                                            <br><br>
                                            <i>Hogwarts, July 16, 2023</i> - Hold onto your broomsticks, witches and
                                            wizards, as GSPL 2023 introduces its fleet-footed stars in "Meet the GSPL's
                                            Fastest Snitch Chasers!" This year's Quidditch season promises to be filled
                                            with heart-stopping sprints, daring dives, and enchanted displays of
                                            athleticism that will leave you on the edge of your seats!<br><br>

                                            In a whirlwind of excitement, I, Venkatesh Prasad, your ever-vigilant
                                            Magical Sports Correspondent, had the unique opportunity to attend a special
                                            training session at the Hogwarts Quidditch Pitch. It was a rare chance to
                                            meet and interview the renowned Snitch Chasers from each GSPL team. It seems
                                            that each of them holds a unique tale, much like their magical prowess on
                                            the pitch!<br><br>

                                            <p3><i>The Nimbus Racers' Flash of Lightning</i></p3><br><br>

                                            Leading the pack is none other than Harry "The Flash" Potter from the Nimbus
                                            Racers. With his signature lightning-fast reflexes, he has been catching
                                            Snitches at a breakneck speed! "I've been practicing my flying skills since
                                            my Hogwarts days, and it's all about concentration and anticipation," says
                                            Harry, who certainly knows a thing or two about catching
                                            Snitches.<br><br><br>

                                            <img src="css/News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>Luna "The Loony Seeker" Lovegood - A Quirky Delight!</i></p3><br><br>

                                            Luna Lovegood, the Seeker for the Quibblers, has a reputation for her unique
                                            and unpredictable approach on the pitch. "You never know what you might find
                                            when you're chasing a Snitch," she chuckles. Luna's unconventional methods
                                            may be unorthodox, but her whimsicality is a delight to behold.<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>Fred and George Weasley: Double Trouble</i></p3><br><br>

                                            GSPL's dynamic duo, Fred and George Weasley, have a reputation for mischief
                                            on and off the pitch. As Seekers for the Firebolts, their hilarious banter
                                            and trick plays add a dose of humor to the game. "We aim to entertain the
                                            crowd and leave them laughing, whether we catch the Snitch or not!" says
                                            Fred.<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>Cedric "The Daring Diver" Diggory - Aerial Artistry</i></p3><br><br>

                                            Representing the Phoenix Flames, Cedric Diggory's skillful mid-air
                                            acrobatics have earned him the nickname "The Daring Diver." "Flying is an
                                            art, and each Snitch is a canvas waiting to be captured," remarks Cedric,
                                            whose elegance and precision in the air have fans in awe.<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>Ginny "The Quaffle Queen" Weasley - A Snitch Surprise</i></p3>
                                            <br><br>

                                            Surprising everyone by joining the Golden Gryffins as their Seeker is none
                                            other than Ginny Weasley. Known as "The Quaffle Queen" for her Chaser
                                            skills, Ginny's transition to the Seeker position has been nothing short of
                                            remarkable. "It's a challenge I was eager to embrace," she says, displaying
                                            her Gryffindor bravery.<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>Draco "The Sly Snatcher" Malfoy - A Ferocious Pursuit</i></p3>
                                            <br><br>

                                            Representing the Serpent Storm, Draco Malfoy has earned the title "The Sly
                                            Snatcher" with his cunning tactics. "Seeking is about outsmarting your
                                            opponents, and I do love a good chase," smirks Draco, whose ambition to
                                            catch Snitches matches his house's ethos.<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>A Quidditch Season for the Ages!</i></p3><br><br>

                                            With the GSPL season in full swing, we can expect a thrilling spectacle of
                                            magical athleticism. Each Snitch Chaser brings their unique style and
                                            passion to the game, ensuring that GSPL 2023 will be a season to
                                            remember.<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <i>So, witches and wizards, fasten your seat belts and grab your
                                                broomsticks! Get ready to witness the GSPL's Fastest Snitch Chasers in
                                                action, as they dazzle us with their aerial artistry and fierce pursuit
                                                of the Golden Snitch. From seasoned champions to rising stars, they will
                                                redefine Quidditch greatness and enchant us all with their feats of
                                                wizarding wonder!</i><br><br><br>


                                        </p2>


                                    </p>
                                    <a href="#" class="read-more">Back</a>
                                    <!-- <img src="assets/images/image-web-3-desktop.jpg" alt="Web3 future"
                  class="news__main-cover news__main-cover--desktop" /> -->
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </section>

    </main>

</body>

</html>