<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Snitch Pro League</title>
    <link rel="stylesheet" href="css/style.css">

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #255957;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #66fcf1;
            border-radius: 7px;
            border-width: 1.3px;
            border-color: #45a29e;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #dfbe4c;
        }
    </style>
</head>

<body>
    <header id="header">
        <h2 href="#" class="logo">Golden Snitch Pro League</h2>
        <div class="toggle"><box-icon name='menu' animation='fade-right' color='#dfbe4c'></box-icon></div>
        <div class="navigation">
            <li><a href="index">Home</a></li>
            <li><a href="clashes">Clashes</a></li>
            <li><a href="standings">Standings</a></li>
            <li><a href="tickets">Tickets</a></li>
            <li><a href="news" class="active">News</a></li>
            <li><a href="about">About</a></li>
        </div>
    </header>

    <link rel="stylesheet" href="css/newsar_style.css">
    <!-- --------------------------------------------------------------------------------- -->


    <main>
        <section class="panel">
            <section class="news">
                <div class="container">
                    <div class="news__inner">
                        <article class="news__main">

                            <div class="news__main-content">

                                <h1 class="news__main-title">GSPL 23 Team Registration Now Open!</h1>

                                <div class="news__main-info">
                                    <p class="news__main-subtitle">

                                        <p1>
                                            Unleash your team's wizarding prowess as GSPL 23 invites aspiring witches
                                            and wizards to embark on a thrilling Quidditch journey. Register now to
                                            compete in the enchanting realm of soaring broomsticks and captivating
                                            matches, vying for the ultimate Quidditch supremacy. Don't miss your chance
                                            to make history in the Golden Snitch Pro League!

                                        </p1>
                                        <hr>

                                        <p2>
                                            <br><br>
                                            <p3><b><i>Byline : </i> Rita Spellman, Quibbler Quill - Your Trusted Source
                                                    for Whimsical Wonders</b></p3><br><br>
                                            <i>Hogwarts Castle, July 19, 2023</i> - With broomsticks at the ready and
                                            wands poised for action, aspiring witches and wizards are invited to embrace
                                            the enchanting world of Quidditch as the Golden Snitch Pro League (GSPL)
                                            opens its doors for GSPL 23 team registration. The wizarding community is
                                            abuzz with excitement as magical athletes from across the realm prepare to
                                            take flight and showcase their aerial prowess in thrilling Quidditch
                                            showdowns.<br><br>

                                            As the sun set behind the towers of Hogwarts Castle, the announcement echoed
                                            throughout the wizarding world, summoning talented teams to join the
                                            ultimate Quidditch extravaganza. GSPL 23 promises to be a season filled with
                                            breathtaking plays, unexpected twists, and of course, Snitch-catching feats
                                            that will leave spectators bewitched.<br><br>

                                            <p3><i>Enchanted Wizarding Tales</i></p3><br><br>

                                            In the whimsical tradition of the Quibbler, let's take a peek into some of
                                            the most curious and amusing team names that have signed up for GSPL 23.
                                            From the "Wand-Wielders" to the "Blazing Broomsticks," the imaginative
                                            monikers certainly add an enchanting flair to the magical
                                            competition.<br><br>

                                            Of particular note, the "Luna's Lionhearts" team caught our attention with
                                            their unique twist on Gryffindor's iconic mascot. With Luna Lovegood as
                                            their muse, the Lionhearts are sure to bring a dash of eccentricity to the
                                            pitch. Will their unorthodox strategies bewilder their opponents? Only time
                                            will tell!<br><br><br>

                                            <img src="News - Images/image1.webp" alt="Quidditch Ground"
                                                class="news__main-cover news__main-cover--desktop" />

                                            <p3><i>The Quidditch Chronicles</i></p3><br><br>

                                            In the spirit of camaraderie and fierce competition, GSPL 23 welcomes teams
                                            from all magical communities. The "Merlin's Marauders," hailing from a
                                            remote corner of Avalon, are making their debut in the prestigious league.
                                            With mystical maneuvers and Merlin's legacy behind them, this enigmatic team
                                            is set to conjure surprises aplenty.<br><br>

                                            Meanwhile, the "Wizarding Wanderers," representing a confluence of witches
                                            and wizards from various realms, aim to redefine unity and diversity on the
                                            Quidditch pitch. Their flying formations promise to be a spectacle, blending
                                            styles from different magical traditions into one spellbinding
                                            display.<br><br>

                                            <p3><i>Charming Snitch Chasers</i></p3><br><br>

                                            Every season, Snitch Chasers are the talk of the town, and GSPL 23 is no
                                            exception. Meet the audacious "Weasley's Wildfires," led by their Seeker
                                            extraordinaire, Gideon Weasley. Rumor has it that Gideon's maneuvering on
                                            his trusty broomstick leaves spectators breathless. His secret? An alleged
                                            pact with a Niffler for good luck – we'll believe it when we see it!<br><br>

                                            Not to be outdone, the "Nimbus Navigators," led by Seeker Nimue Nightingale,
                                            are raising eyebrows with their daring Snitch-catching techniques. Nimue's
                                            daring dives have earned her the nickname "Nightingale of the Night Skies."
                                            Are her nocturnal exploits the key to Snitch-snagging success? We can't help
                                            but wonder!<br><br>

                                            <p3><i>Calling All Quidditch Enthusiasts!</i></p3><br><br>

                                            With GSPL 23 team registration now in full swing, witches and wizards are
                                            encouraged to summon their most skillful comrades and compose their dream
                                            teams. The GSPL committee reminds all potential participants to be prepared
                                            for a rigorous selection process. Every team will face the scrutiny of
                                            seasoned Quidditch analysts and receive evaluations based on flying prowess,
                                            strategic acumen, and sportsmanship.<br><br>

                                            So, aspiring Seekers, Chasers, Beaters, and Keepers, dust off your
                                            broomsticks, polish your wands, and muster your courage! GSPL 23 promises to
                                            be a magical journey like no other, and it all begins with your team's
                                            registration.<br><br>

                                            <i>As the Quibbler Quill bids you farewell, we look forward to witnessing
                                                the triumphs, the tumbles, and the enchantment that awaits in the Golden
                                                Snitch Pro League. May your Quidditch journey be filled with wonder,
                                                camaraderie, and perhaps a pinch of pixie mischief!
                                                <br>

                                                Didn't find registation link yet...? <a href="teamreg_step1.html"
                                                    class="reg">Click Here!</a>
                                            </i><br><br><br>


                                        </p2>


                                    </p>
                                    <a href="news" class="read-more">Back</a>
                                    <!-- <img src="assets/images/image-web-3-desktop.jpg" alt="Web3 future"
                  class="news__main-cover news__main-cover--desktop" /> -->
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </section>

    </main>

</body>

</html>