<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body> -->
<style>
    /* width */
    ::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #255957;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #66fcf1;
        border-radius: 7px;
        border-width: 1.3px;
        border-color: #45a29e;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #dfbe4c;
    }
</style>
<link rel="stylesheet" href="css/formstyle.css">
<script src="css/teamreg.js"></script>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h1 id="heading">Register Your Team for Quidditch Glory!</h1>
                <p>Magical Quidditch Seekers, Unite! <b>GSPL 2023</b> Beckons You to the Field. <br>
                    Prepare Your Enchanted Information and Enroll Your Team in the Extraordinary Tournament!</p>
                <form id="msform" action="/teamreg_step3_1" method="POST">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li href="teamreg_step1.html" id="account">Account</li>
                        <li href="teamreg_step2.html" id="personal">Team Details</li>
                        <li class="active" href="teamreg_step3.html" id="payment">Player Details</li>
                        <li href="teamreg_step4.html" id="confirm">Finish</li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br>

                    <fieldset>
                        <div class="form-card">

                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">7 Players' Details : Be ready with roles</h2>
                                </div>
                                <div class="col-5">
                                </div>
                            </div>

                            <!-- Chasers -->

                            <label class="fieldlabel">
                                <a1>Chasers </a1>
                            </label> <br>
                            <label class="fieldlabel">
                                <p1>
                                    A Chaser is a key position in Quidditch, played by three members on each team. Their
                                    primary role is to score points by throwing the Quaffle through the opposing team's
                                    goal hoops. With agility, strategy, and precision, Chasers navigate the pitch,
                                    working collaboratively to secure victory for their team.<br></p1>
                            </label>
                            <hr color="#45a29e">
                            <label class="fieldlabels">Chaser I Name : </label>
                            <input type="text" name="c1name" placeholder="The first chaser" />
                            <label class="fieldlabels">Wizarding Name (optional) : </label>
                            <input type="text" name="c1number" placeholder="Your magical nickname" />
                            <label class="fieldlabels">Age : </label>
                            <input type="text" name="c1age" placeholder="" />
                            {{!-- <label class="fieldlabels">Photo : </label>
                            <input type="file" name="c1photo" accept="css/playerphotos*"> --}}
                            <hr color="#45a29e">
                            <label class="fieldlabels">Chaser II Name : </label>
                            <input type="text" name="c2name" placeholder="The second chaser" />
                            <label class="fieldlabels">Wizarding Name (optional) : </label>
                            <input type="text" name="c2number" placeholder="Your magical nickname" />
                            <label class="fieldlabels">Age : </label>
                            <input type="text" name="c2age" placeholder="" />
                            {{!-- <label class="fieldlabels">Photo : </label>
                            <input type="file" name="c2photo" accept="css/playerphotos*"> --}}
                            <hr color="#45a29e">
                            <label class="fieldlabels">Chaser III Name : </label>
                            <input type="text" name="c3name" placeholder="The third chaser" />
                            <label class="fieldlabels">Wizarding Name (optional) : </label>
                            <input type="text" name="c3number" placeholder="Your magical nickname" />
                            <label class="fieldlabels">Age : </label>
                            <input type="text" name="c3age" placeholder="" />
                            {{!-- <label class="fieldlabels">Photo : </label>
                            <input type="file" name="c3photo" accept="css/playerphotos*"> --}}

                        </div> <button type="submit" name="next" class="next action-button"
                            onclick="window.location.href='teamreg_step3_2';" />
                        next </button>
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous"
                            onclick="window.location.href='teamreg_step2';" />
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- </body>
</html> -->