@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik:wght@300;400;500;600&display=swap');


@font-face {
  font-family: "Harry";
  src: url("Fonts/HARRYP__.TTF") format("truetype"),
    url("Fonts/harryp__-webfont.woff") format("woff");
}

@font-face {
  font-family: "Mira";
  src: url(Fonts/Mirador/MiraBold.otf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background: #44318D;
  min-height: 100vh;
  overflow-x: hidden;

}

h2,
a {
  font-family: "Mira";
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}

.logo {
  font-size: 2.2em;
  color: #d83f87;
  pointer-events: "ani";
}

.navigation a {
  text-decoration: none;
  color: #d83f87;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
  font-size: 1em;
}

.navigation a:hover,
.navigation a.active {
  background: #d83f87;
  color: #2a1b3d;
}

.anim {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

h {
  position: absolute;
  font-size: 7em;
  color: #ffffff;
  font-weight: 100;
  text-align: center;
  font-family: 'Harry', sans-serif;
  line-height: 90px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, .3);

}

.anim img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  object-position: center -200px;
}

.sec {
  position: absolute;
  top: 870px;
  background-color: #2a1b3d;
  padding: 100px;
}

.sec h2 {
  font-size: 3em;
  color: #d83f87;
  margin-bottom: 10px;
}

.sec p {
  color: white;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.sec2 {
  position: absolute;
  top: 865px;
  background-color: #d83f87;
  padding: 100px;
  width: 1480px;
}

/* Signup Button */
.signup {

  position: relative;
  top: 765px;
  padding: 100px;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 500px;
  min-height: 60px;
  font-family: 'Rubik', sans-serif;
  font-size: 26px;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #44318D;
  background: #d83f87;
  background: linear-gradient(90deg, #d83f87 0%, #ff0278 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #ffb3d7 64%;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(500px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #d83f87;
  box-shadow: 0 0 60px #d83f87 64%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #ffffff;
  transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 650px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #d83f87;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/* News Page */